<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body> -->
    <!-- header section starts  -->

    <!-- <header class="header">

        <a href="#" class="logo"> <i class="fas fa-hiking"></i> Malitourime </a>
     -->
        <!-- <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-moon" id="theme-btn"></div>
            <div class="fas fa-user" id="login-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div> -->
<!--         
        <form action="" class="search-form">
            <input type="search" name="" placeholder="rechercher ..." id="searchBox">
            <label for="searchBox" class="fas fa-search"></label>
        </form>
    
      
    
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#packages">packages</a>
            <a href="#services">services</a>
            <a href="#pricing">pricing</a>
            <a href="#review">review</a>
            <a href="#contact">contact</a>
            <a href="#blogs">blogs</a>
        </nav>
    
       
    
    </header> -->
<!--     
    <div class="login-form-container">

        <i class="fas fa-times" id="form-close"></i>

        <form action="index.php" method="POST">
            <h3>login</h3>
                <label for="email">Email</label>
                <input type="email" name="email" class="box" placeholder="email" id="email">
                <br>
                <label for="password">Password</label>
                <input type="password" name="password" class="box" placeholder="password" id="password">
                <br>
                <input type="submit" value="Se connecter" class="btn" name="actionauth">
                
                <input type="checkbox" id="remember">
                <label for="remember">Se souvenir de moi</label>
                <p>password oublié? <a href="#">cliqué ici</a></p>
                <p>s'inscrire? <a href="signup.php">Sign up</a></p>
        </form>
    </div> -->
    
    <!-- header section ends -->



        
<!-- header section starts  -->

<!-- <header>

    <div id="menu-bar" class="fas fa-bars"></div>

       <a href="#" class="logo"><span>M</span>aliTourime<span>.</span></a>

    <nav class="navbar">
        <a href="/dashboard">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard |</a>
        <a href="/accueil"><i class="fas fa-home"></i> Accueil |</a>
        <a href="/list"><i class="fas fa-place-of-worship"></i> Regions |</a>
        <a href="#"><i class="fas fa-map-marked-alt"></i> Sites |</a>
        <a href="#"><i class="fas fa-photo-video"></i> Gallery |</a>
        <a href="#contact"><i class="fas fa-address-card"></i> contact |</a>
        <a href="/register"><i class="fas fa-user-plus"></i> Sign up</a>
        <a href="/login"><i class="fas fa-user" id="login-btn" title="login"></i> Login</a>
    </nav> -->
<!-- 
    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <a href="#" class="fas fa-shopping-cart"></a>
        <div id="search-btn" class="fas fa-search"></div>
    </div> -->

    <!-- <div class="icons"> -->
        <!-- <i class="fa fa-search" id="search-btn"></i> -->
        <!-- <i class="fas fa-search"></i> -->
        
        <!-- <i></i><div id="menu-btn" class="fas fa-bars" 
        style="
        font-size: 2.5rem;
        cursor: pointer;
        margin-right: 2rem;
        ">
        </div> -->
        <!-- <i class="fa fa-search" id="search-btn"></i> -->
        <!-- <i class="fas fa-user" id="login-btn" title="login"></i>

    </div> -->


<!--    
    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here...">
        <label for="search-bar" class="fas fa-search"></label>
    </form> -->

<!-- </header>

<div class="search-form">

    <div id="close-search" class="fas fa-times"></div>

    <form action="">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>
</div>

<div class="login-form-container">

    <i class="fas fa-times" id="form-close"></i>

    <form action="index.php" method="POST">
        <h3>login</h3>
            <label for="email">Email</label>
            <input type="email" name="email" class="box" placeholder="email" id="email">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" class="box" placeholder="password" id="password">
            <br>
            <input type="submit" value="Se connecter" class="btn" name="actionauth">
            
            <input type="checkbox" id="remember">
            <label for="remember"> Se souvenir de moi</label>
            <p>password oublié? <a href="#">cliqué ici</a></p>
            <p><a href="/register">Creer un compte</a></p>
    </form>
</div> -->


<!-- 
</body>
</html> -->

    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
        
<!-- header section starts  -->

<!-- <header>

    <div id="menu-bar" class="fas fa-bars"></div>

       <a href="#" class="logo"><span>M</span>aliTourime<span>.</span></a>

    <nav class="navbar">
        <ul>
            <li>
                <a href="/dashboard" *ngIf="showAdminBoard">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard |</a>
            </li>
            <li>
                <a href="/accueil" *ngIf="isLoggedIn"><i class="fas fa-home"></i> Accueil |</a>
            </li>
            <li>
                <a href="/list" *ngIf="isLoggedIn"><i class="fas fa-place-of-worship"></i> Regions |</a>
            </li>
            <li>
                <a href="#" *ngIf="isLoggedIn"><i class="fas fa-map-marked-alt"></i> Sites |</a>
            </li>
            <li>
                <a href="#" *ngIf="isLoggedIn"><i class="fas fa-photo-video"></i> Gallery |</a>
            </li>
            <li>
                <a href="/register" *ngIf="!isLoggedIn" routerLink="register"><i class="fas fa-user-plus"></i> Sign up</a>
            </li>
            <li>
                <a href="/login" *ngIf="!isLoggedIn" routerLink="login"><i class="fas fa-user" id="login-btn" title="login"></i> Sign in</a>
            </li>
            <li>
                <a href="/profile" *ngIf="isLoggedIn" routerLink="profile"> {{ username }}</a>
            </li>
            <li>
                <a href (click)="logout()"> LogOut</a>
            </li>
        </ul>
    </nav>
</header> -->



    
<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">Mali</span> <span class="text-white">Tourisme</span> </h1>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item" *ngIf="showAdminBoard">
            <a class="nav-link" routerLink="dash">
              <i class="fas fa-tachometer-alt"></i>
              Dashboard</a>
          </li>
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home"><i class="fas fa-home"></i> Home </a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
            <a href="/list" class="nav-link" routerLink="list">Regions</a>
          </li>
        <li class="nav-item">
          <a href="/sites" class="nav-link" routerLink="sites">Sites</a>
        </li>
        <li class="nav-item">
          <a href="/gallery" class="nav-link" routerLink="gallery">Gallery</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
  
  </div>



</body>
</html>

