
<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box" data-aos="fade-up">
            <h3>Nos localiations</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> india </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> russia </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> japan </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> france </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> canada </a>
        </div>

        <div class="box" data-aos="fade-up">
            <h3>liens rapide</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i> Accueil </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Regions </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Sites </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Gallery </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Contact </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Sign up </a>
        </div>

        <div class="box" data-aos="fade-up">
            <h3>Nos contacts</h3>
            <a href="#"> <i class="fas fa-phone"></i> +223 64897331 </a>
            <a href="#"> <i class="fas fa-phone"></i> +223 93771553 </a>
            <a href="#"> <i class="fas fa-mail"></i> marytra292@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Mali, Bamako - 400104 </a>
        </div>

        <div class="box" data-aos="fade-up">
            <h3>Suivez-nous</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>

    </div>

    <div class="credit"> Creer par <span>mr. Mary TRAORE</span> | Tout droits reserver </div>

</section>

<!-- footer section ends -->