
                          <section class="pricing" id="pricing">

                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" data-aos="zoom-in-up">
                              <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              </div>
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="{{region.imageRegion}}" class="d-block w-100" alt="...">
                                  <div class="carousel-caption d-none d-md-block">
                                    <h1 class="heading" style="color: white;"> Region de <span><strong>{{region.nomRegion}}</strong> </span> </h1>
                                    <h5 class="esp-sld">Toute les informations à savoir la region de {{region.nomRegion}} </h5>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/images/kayes-1.jpeg" class="d-block w-100" alt="...">
                                  <div class="carousel-caption d-none d-md-block">
                                    <h1 class="heading" style="color: white;"> details <span>de la region</span> </h1>
                                    <h5 class="esp-sld">Toute les informations à savoir la region de {{region.nomRegion}} </h5>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/images/kayes-2.jpeg" class="d-block w-100" alt="...">
                                  <div class="carousel-caption d-none d-md-block">
                                    <h1 class="heading" style="color: white;"> details <span>de la region</span> </h1>
                                    <h5 class="esp-sld">Toute les informations à savoir la region de {{region.nomRegion}} </h5>
                                  </div>
                                </div>
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          
                            <div class="col-md-12 mx-auto" style="padding-top: 15px;">


                            <div class="box-container" *ngIf="region" data-aos="zoom-in-up">

                              <div class="box">
                                <h3 style="margin-bottom: 15px;">Carte</h3>
                                <img src="../../assets/images/kayes-carte.jpeg" alt="" class="carte">
                              </div>

                                <div class="box" >
                                    <h3> Details </h3>
                                    <!-- <table>
                                      <tr><b>ID:  </b>
                                        <th>{{region.idRegion}}</th>
                                      </tr> 
                                      <tr><b>Code:  </b>
                                        <th>{{region.codeRegion}}</th>
                                      </tr>
                                      <tr><b>Nom:  </b>
                                        <th>{{region.nomRegion}}</th>
                                      </tr>
                                      <tr><b>Population:  </b>
                                        <th>200 000hbts</th>
                                      </tr>
                                      <tr><b>Domaine activiter:  </b>
                                        <th>{{region.domaineActiviteRegion}}</th>
                                      </tr>
                                      <tr><b>Superficie:  </b>
                                        <th>{{region.superficie}}</th>
                                      </tr>
                                      <tr><b>Langue majoritaire: </b>
                                        <th>{{region.langueMajoritaire}}</th>
                                      </tr>
                                    </table> -->
                                    <ul class="detail">
                                 
                                        <li><b>ID:  </b>{{region.idRegion}}</li>
                                        <li><b>Code:        </b>{{region.codeRegion}}</li>
                                        <li><b>Nom: </b>{{region.nomRegion}}</li>
                                        <li><b>Population: </b>800 000 hbts</li>
                                        <li><b>Domaine activiter: </b>{{region.domaineActiviteRegion}}</li>
                                        <li><b>Superficie: </b>{{region.superficie}}</li>
                                        <li><b>Langue majoritaire: </b>{{region.langueMajoritaire}}</li>
                                    </ul>
                                    <button class="btn" (click)="retour()"><i class="fas fa-arrow-alt-circle-left"></i> Retour</button>
                                  </div>

                            </div>


                            <div class="col-md-12 mx-auto" style="padding-top: 25px;">
                              <h2 class="heading"><span>Description</span> </h2>
                              <div class="box-container" data-aos="zoom-in-up">
                                   
                                  <div class="box">
                                    <h3>Description</h3>
                                      <p class="desc">
                                        {{region.descriptionRegion}}
                                      </p>
                                  </div>

                                  <div class="box">
                                    <h3 style="margin-bottom: 10px;">Laissez votre commentaires</h3>
                                    <form action="#">
                                      <input type="text" name="full_name" placeholder="Nom">
                                      <input type="email" name="email" placeholder="Email">
                                      <textarea name="comment" id="comment" placeholder="Message">
                                      </textarea>
                                    </form>
                                    <button type="submit" class="btn"><i class="fa fa-send"></i> Envoyer</button>
                                  </div>
                               
                              </div>
                          </div>

                            

                          

                  <div id="recent-activity" class="tab-pane active">
                    <h2 style="margin-top: 4rem;">Commentaires recents</h2>
                    <div class="profile-activity">
                      <div class="act-time">
                        <div class="activity-body act-in">
                          <span class="arrow"></span>
                          <div class="text">
                            <a href="#" class="activity-img"><img class="avatar" src="assets/images/chat-avatar.jpg" alt=""></a>
                            <p class="attribution"><a href="#">Jonatanh Doe</a> at 4:25pm, 30th Octmber 2014</p>
                            <p>It is a long established fact that a reader will be distracted layout</p>
                          </div>
                        </div>
                      </div>
                      <div class="act-time">
                        <div class="activity-body act-in">
                          <span class="arrow"></span>
                          <div class="text">
                            <a href="#" class="activity-img"><img class="avatar" src="assets/images/chat-avatar.jpg" alt=""></a>
                            <p class="attribution"><a href="#">Jhon Loves </a> at 5:25am, 30th Octmber 2014</p>
                            <p>Knowledge speaks, but wisdom listens.</p>
                          </div>
                        </div>
                      </div>
                      <div class="act-time">
                        <div class="activity-body act-in">
                          <span class="arrow"></span>
                          <div class="text">
                            <a href="#" class="activity-img"><img class="avatar" src="assets/images/chat-avatar.jpg" alt=""></a>
                            <p class="attribution"><a href="#">Rose Crack</a> at 5:25am, 30th Octmber 2014</p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                          </div>
                        </div>
                      </div>
                      <div class="act-time">
                        <div class="activity-body act-in">
                          <span class="arrow"></span>
                          <div class="text">
                            <a href="#" class="activity-img"><img class="avatar" src="assets/images/chat-avatar.jpg" alt=""></a>
                            <p class="attribution"><a href="#">Jimy Smith</a> at 5:25am, 30th Octmber 2014</p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                              ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                          </div>
                        </div>
                      </div>
                      <div class="act-time">
                        <div class="activity-body act-in">
                          <span class="arrow"></span>
                          <div class="text">
                            <a href="#" class="activity-img"><img class="avatar" src="assets/images/chat-avatar.jpg" alt=""></a>
                            <p class="attribution"><a href="#">Maria Willyam</a> at 5:25am, 30th Octmber 2014</p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                              ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
                              condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros
                              eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                          </div>
                        </div>
                      </div>
                      <div class="act-time">
                        <div class="activity-body act-in">
                          <span class="arrow"></span>
                          <div class="text">
                            <a href="#" class="activity-img"><img class="avatar" src="assets/images/chat-avatar.jpg" alt=""></a>
                            <p class="attribution"><a href="#">Sarah saw</a> at 5:25am, 30th Octmber 2014</p>
                            <p>Knowledge speaks, but wisdom listens.</p>
                          </div>
                        </div>
                      </div>
                      <div class="act-time">
                        <div class="activity-body act-in">
                          <span class="arrow"></span>
                          <div class="text">
                            <a href="#" class="activity-img"><img class="avatar" src="assets/images/chat-avatar.jpg" alt=""></a>
                            <p class="attribution"><a href="#">Layla night</a> at 5:25am, 30th Octmber 2014</p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                          </div>
                        </div>
                      </div>
                      <div class="act-time">
                        <div class="activity-body act-in">
                          <span class="arrow"></span>
                          <div class="text">
                            <a href="#" class="activity-img"><img class="avatar" src="assets/images/chat-avatar.jpg" alt=""></a>
                            <p class="attribution"><a href="#">Andriana lee</a> at 5:25am, 30th Octmber 2014</p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                              ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                          </div>
                        </div>
                      </div>
                      <div class="act-time">
                        <div class="activity-body act-in">
                          <span class="arrow"></span>
                          <div class="text">
                            <a href="#" class="activity-img"><img class="avatar" src="assets/images/chat-avatar.jpg" alt=""></a>
                            <p class="attribution"><a href="#">Maria Willyam</a> at 5:25am, 30th Octmber 2014</p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                              ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
                              condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros
                              eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>



                          
                          </div>




                        
                          
                          </section>